<div class="container border pt-3 bg-light">
  <div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link"><p>Главная страница</p></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><p>О сайте</p></a>
                </li>
            </ul>
        </div>
        <div class="dropdown col">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Виды животных
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Кошки</a></li>
                <li><a class="dropdown-item" href="#">Собаки</a></li>
                <li><a class="dropdown-item" href="#">Хомяки</a></li>
            </ul>
        </div>
        <div class="col-1">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Auth</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>